.table-stocks {
  margin: 20px auto;
  white-space: nowrap;
  border-spacing: 10px;
}

th {
  min-width: 150px;
}

.table-top {
  background: lightgray;
}

.btn-sell-all {
  white-space: nowrap;
}

.like {
  background-color: red;
  height: 20px;
  width: 20px;
}
.like-green {
  background-color: lightgreen;
  height: 20px;
  width: 20px;
}
